:root {
    --base-font: Opensans;
    --text-color: #fff; 
}

@font-face {
    font-family: Opensans;
    src: url(../fonts/opensans-regular.woff) format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Opensans;
    src: url(../fonts/opensans-italic.woff) format("woff");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: Opensans;
    src: url(../fonts/opensans-bold.woff) format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Opensans;
    src: url(../fonts/opensans-bolditalic.woff) format("woff");
    font-style: italic;
    font-weight: bold;
}

* {
    margin: 0;
}

html {
    font-size: 100%;
    padding: 0;
}

body {
    font-family: var(--base-font); 
    color: #000;
    font-size: 1em;
    text-align: left;
    padding: 0;
    background-color: #fff;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

small {
    font-size: 0.8rem;
}

main h1,
main p {
    margin-bottom: 1rem;
}

main h1 {
    font-size: 2em;
    font-weight: bold;
}

main p {
    line-height: 1.5em;
}

main :last-child {
    margin-bottom: 0;
}

header {
    color: var(--text-color);
    height: 30rem;
    background: url(../images/bg.jpg) no-repeat;
    background-position: right;
    background-position: bottom;
    background-size: 100% auto;
    width: 100%;
    position: relative;
}

#title {
    background: url(../images/sun.svg) no-repeat;
    opacity: 0.75;
    background-size: contain;
    padding-left: 11rem;
    width: calc(100% - 1025px);
    font-size: 7.5rem; 
    font-weight: bold;
    white-space: nowrap;
    letter-spacing: -0.05em;
    position: absolute;
    top: .5rem;
    float: left;
}

header a {
    color: var(--text-color);
    text-decoration: none;
}

nav { 
    background-color: rgba(255, 255, 255, 0.30);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
}

nav ul { 
    max-width: 1025px;
    display: flex;
    padding: 0;
    margin: 0 auto;
    justify-content: space-between;
}

nav ul li { 
    list-style-type: none; 
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.2); 
}  

nav a { 
    color: #fff; 
    font-size: 1.4rem; 
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    padding: 4rem 2rem;
    text-align: center;
    transition: .1s;
}

nav a:hover {
    transform: scale(1.2);
}

main {
    max-width: 1025px;
    padding: 2rem;
    text-align: justify;
    margin: 0 auto;
}

main p {
    display: block;
    -webkit-hyphens: auto; 
    hyphens: auto; 
}

@media screen and (max-width: 1024px) {
    header {
        max-height: 20rem;
    }

    #title {
        font-size: 5rem; 
        padding-left: 8rem; 
    }

    nav {
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
    } 

    nav ul {
        display: block;
    }

    nav a {
        text-align: left;
        display: block;
        padding: 1rem;
    }     

    nav a:hover {
        transform: scale(1);
    }
}

@media screen and (max-width: 768px) {
    header {
        max-height: 19rem;
    }

    #title {
        font-size: 2.8rem;   
        padding-left: 4rem; 
        transform: rotate(-90deg);
        transform-origin: top left;
        left: 0;
        top: 18rem;
    }
}


